<%- include('partials/header')%>
<div class="card home-container mt-5">
    <h1 class="m-3 font-weight-normal">Project Z</h1>
    <h6 class="m-3">The one and only resource sharing platform</h6>
    <div class="row  ">
        <div class="col-sm-6 home-button"><a class="btn btn-lg btn-dark" href="/register" role="button">Register</a></div>
        <div class="col-sm-6 home-button"><a class="btn btn-lg btn-light" href="/login" role="button">Login</a></div>
    </div>
</div>
<%- include('partials/footer')%>